form {
  margin-top: 10px;
}

h1 {
  margin-left: 0 auto;
}

.card-body {
  text-align: center;
}
.card {
  display: block;
  padding: 15px;
}
.pageCreationBlurb {
  font-size: small;
  display: block;
  text-align: center;
}
